{
  "openapi": "3.0.0",
  "info": {
    "title": "Tai - Asistente de Estrategias de Marketing",
    "version": "1.0.0",
    "description": "API para consultar campa\u00f1as, automatizar tareas, analizar SEO, generar documentos, consultar tendencias, optimizar campa\u00f1as de ads y acceder a plantillas de marketing."
  },
  "servers": [
    {
      "url": "https://api.taiseicreative.com"
    }
  ],
  "paths": {
    "/consultar-campanas": {
      "get": {
        "summary": "Consultar campa\u00f1as de marketing",
        "description": "Obtener detalles de campa\u00f1as recientes o activas en el CRM.",
        "parameters": [
          {
            "in": "query",
            "name": "tipo",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "email_marketing",
                "ads",
                "afiliados",
                "redes_sociales"
              ]
            },
            "description": "Tipo de campa\u00f1a que se desea consultar."
          },
          {
            "in": "query",
            "name": "fecha_inicio",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date"
            },
            "description": "Fecha de inicio de la b\u00fasqueda."
          },
          {
            "in": "query",
            "name": "fecha_fin",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date"
            },
            "description": "Fecha de fin de la b\u00fasqueda."
          }
        ],
        "responses": {
          "200": {
            "description": "Resultados exitosos",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "campa\u00f1as": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "nombre": {
                            "type": "string"
                          },
                          "estado": {
                            "type": "string"
                          },
                          "fecha_inicio": {
                            "type": "string",
                            "format": "date"
                          },
                          "fecha_fin": {
                            "type": "string",
                            "format": "date"
                          },
                          "rendimiento": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Solicitud incorrecta"
          },
          "500": {
            "description": "Error del servidor"
          }
        }
      }
    }
  },
  "components": {}
}